.btn-outline-info:hover {
  background-color: rgb(231, 231, 231);
}

.how-to-play {
  margin-top: 50px;
  font-weight: bold;
}

.how-to-play-modal {
  text-align: left;
}

.game-options {
  margin-top: 20px;
}