.btn-outline-info:hover {
  background-color: rgb(231, 231, 231);
}

.how-to-play {
  margin-top: 50px;
  font-weight: bold;
}

.how-to-play-modal {
  text-align: left;
}

.game-options {
  margin-top: 20px;
}

.back-to-main {
  background: transparent;
  border: none;
  color: rgb(87, 87, 87);
 
  &:focus, &:hover, &:visited, &:link, &:active {
    background: transparent;
    color: rgb(197, 197, 197);
  }
}

.back-container {
  margin-top: 30px;
}

.icon-shoutout {
  position: fixed; 
  bottom: 0;
  width: 100%;
}