.image-holder {
  border: 2px solid white;
  width: 333px;
  height: 333px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.image-holder img {
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}

.memorage-buttons {
  margin-left: auto;
  margin-right: auto;
  width: 333px;
  display: flex;
  justify-content: space-evenly;
}