.opening-words {
  margin-top: 20px;
}

.game-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.classic-button {
  &:hover {
    background-color: orange;
  }
}

.number-button {
  &:hover {
    background-color: rgb(46, 173, 46);
  }
}

.how-to-play {
  margin-top: 50px;
  font-weight: bold;
}

.how-to-play-modal {
  text-align: left;
}

.back-to-main {
  background: transparent;
  border: none;
  color: rgb(87, 87, 87);
 
  &:focus, &:hover, &:visited, &:link, &:active {
    background: transparent;
    color: rgb(197, 197, 197);
  }
}

.back-container {
  margin-top: 30px;
}