.memorage-title {
  margin-top: 30px;
}

.memorage-start-button {
  margin-top: 50px;
  background-color: rgb(255, 244, 255);
  border-color: rgb(226, 171, 226);
  color: black;

  &:hover {
    background-color: rgb(237, 120, 120);
  }
}

.back-to-main {
  background: transparent;
  border: none;
  color: rgb(87, 87, 87);
 
  &:focus, &:hover, &:visited, &:link, &:active {
    background: transparent;
    color: rgb(197, 197, 197);
  }
}

.back-container {
  margin-top: 30px;
}